{% extends "gist/base.html" %}
{% load static %}

{% block title %}Gist | About{% endblock %}

{% block content %}
<div>
  <h2>Information</h2>
  <p> Gist is a text summarisation tool created by Nikesh Purohit using the following technologies:

    <ul>
      <li>Python</li>
      <li>Django</li>
      <li>TensorFlow</li>
      <li>Keras</li>
    </ul>
    <br>
    <h2>Open source licenses</h2>
    <div>Django, Bootstrap, HTML</div>
    <h2>Attribution</h2>
    <div>Icons made by <a href="https://www.flaticon.com/authors/dinosoftlabs" title="DinosoftLabs">DinosoftLabs</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <br>
    <div>Copyright © Nikesh Purohit. All rights reserved.</div>
    {% endblock %}
