{% extends "gist/base.html" %}
{% load static %}

{% block title %}Gist | Beta{% endblock %}

{% block content_layout %}justify-content-md-center text-center{% endblock %}

{% block content %}
{% if request.session.source_format == "local" %}
<div class="alert alert-danger text-left" role="alert">
  <b>Error:</b> file upload is not available.
</div>
{% endif %}
<h1>Choose how to provide your source document</h1>

<div class="row pb-5 pt-2">
  <div class="col-sm">
    <form method="get" id="text-submit-form" name="text-submit-form" action="../summarise/">
      <input type="hidden" name="doc_type" value="text" />
      <a class="format-card-link text-decoration-none text-reset" href="#" onclick="document.getElementById('text-submit-form').submit();">
        <div class="format-card">
          <div class="format-card-image" style="background-image: url({% static "gist/images/1.svg" %});"></div>
          <div class="format-card-title">Text</div>
          <div class="format-card-content">
            <div class="format-card-description">
              Paste a portion of a document or the entire document as raw text.
            </div>
          </div>
        </div>
      </a>
    </form>
  </div>


  <div class="col-sm">
    <form method="get" id="url-submit-form" name="url-submit-form" action="../summarise/">
      <input type="hidden" name="doc_type" value="url" />
      <a class="format-card-link text-decoration-none text-reset" href="#" onclick="document.getElementById('url-submit-form').submit();">
        <div class="format-card">
          <div class="format-card-image" style="background-image: url({% static "gist/images/2.svg" %});"></div>
          <div class="format-card-title">URL</div>
          <div class="format-card-content">
            <div class="format-card-description">
              Enter a URL of an article or document to be summarised.
            </div>
          </div>
        </div>
      </a>
    </form>
  </div>

  <div class="col-sm">
    <form method="get" id="local-submit-form" name="local-submit-form" action="../summarise/">
      <input type="hidden" name="doc_type" value="local" />
      <a class="format-card-link text-decoration-none text-reset" href="#" onclick="document.getElementById('local-submit-form').submit();">
        <div class="format-card">
          <div class="format-card-image" style="background-image: url({% static "gist/images/3.svg" %});"></div>
          <div class="format-card-title">Upload</div>
          <div class="format-card-content">
            <div class="format-card-description">
              Upload a local document from your computer.
            </div>
          </div>
        </div>
      </a>
    </form>
  </div>
</div>
{% endblock %}
